<header class="flex justify-between items-center mb-4 w-full">
  <h1 class="text-2xl font-bold mb-4">Hotel Booking</h1>
  <div class="flex gap-4 mb-4">
    @if (store.availableRooms() > 0) {
      <div class="flex gap-2">Available Rooms: {{ store.availableRooms() }}</div>
    }
    @if (store.favorites() > 0) {
      <div class="flex gap-2">Favorites: {{ store.favorites() }}</div>
    }
  </div>
</header>
<div class="flex gap-8 items-center mb-8">
  <app-search-booking class="w-full max-w-xs" />
  <app-select-shared
    [label]="'Capacity'"
    [options]="store.capacityOptions()"
    [name]="'capacity'"
    [ngModel]="store.selectedCapacityOption()"
    (ngModelChange)="store.setCapacity($event)" />
  <app-filter-status />
</div>
@if (store.isLoading()) {
  <app-preloader />
} @else {
  <app-rooms />
}
