/* You can add global styles to this file, and also import other style files */

@import 'tailwindcss';

@layer utilities {
  .container {
    @apply px-4 mx-auto;
  }
  .title {
    @apply text-2xl font-bold;
  }
  .btn {
    @apply px-4 py-2 text-white bg-blue-500 rounded cursor-pointer hover:bg-blue-600;
  }
  .btn--danger {
    @apply bg-red-500 hover:bg-red-600;
  }
  .section {
    @apply py-8 border-b border-gray-200;
  }
}

button {
  cursor: pointer;
}

.svg-color svg *[fill] {
  fill: currentcolor;
}

.svg-color svg *[stroke] {
  stroke: currentcolor;
}

svg * {
  transition-property: fill, stroke;
}
